<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}School{% endblock %}</title>
        {% stylesheets
            'bundles/app/css/bootstrap.min.css'
            'bundles/app/css/admin.css'
            filter='cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('admin_grades') }}">Classes</a></li>
                    <li><a href="{{ path('admin_students') }}">Students</a></li>
                    <li><a href="{{ path('admin_teachers') }}">Teachers</a></li>
                    <li><a href="{{ path('admin_subjects') }}">Subjects</a></li>
                    <li><a href="">Schedule</a></li>
                    <li><a href="">Events</a></li>
                </ul>
                <a href="{{ path('logout') }}" class="btn btn-primary btn-block btn-large">LOGOUT</a>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
        {% javascripts
        '@AppBundle/Resources/public/js/*'
        '@AppBundle/Resources/public/js/jquery-3.2.1.min.js'
        '@AppBundle/Resources/public/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
