{% extends 'AppBundle::admin_base.html.twig' %}

{% block title %}Grades{% endblock %}

{% block stylesheets %}
    {% stylesheets 'bundles/app/css/students.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Classes</h1>
    <hr>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>Class Number</th>
            <th>Classroom</th>
            <th>Number of students</th>
            <th>Class teacher</th>
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td></td>
                <td>{{ grade.classnumber}}</td>
                <td>{{ grade.classroom }}</td>
                <td>{{ grade.stud_sum }}</td>
                <td>{{ grade.firstname }} {{ grade.lastname }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}{% endblock %}